- cp = current_page.path

!!!
%html

  %head
    %meta{:charset => "utf-8"}
    
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Sarah Babetski"
    
    = stylesheet_link_tag 'normalize', 'bootstrap.min', 'bootstrap-responsive.min', 'all'
    = javascript_include_tag  'jquery-1.10.2.min', 'bootstrap.min', 'all'
    
  %body{ class: page_classes }

    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/  "} Sarah Babetski
          .nav-collapse.collapse
            %ul.nav
              %li{ class: ('active' if cp[/index/]) }
                %a{:href => "/"} Home
              - %w(work about contact).each do |link_title|
                %li
                  %a{:href => "/#{link_title}"}= link_title.capitalize        

      = yield
      
      .footer
        %p
          2013 All Rights Reserved.
          %br
          This site is designed and maintained by Sarah Babetski.